 
  .navbar {
    background-color: teal;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color:rgb(108, 204, 204);
    color:white;
    
  }

.container-fluid {
  background-color: teal;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: black;
}

img {
  height: 200px;
  width: 250px;
  
}

h1 {
  font-size: 30px;
  color: teal;
}

.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.title {
  background: white;
  color: teal;
  font-size: 30px;
  text-align: center;
}